.input {
    padding: 7px 15px;

    color: var(--black);
    border: none;
    background: var(--white);

    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
    outline-color: var(--primary);
}

.input:focus {
    outline-style: solid;
    outline-width: 2px;
}

.input::placeholder{
    color: var(--gray);
}