.p {
    color: #3b434e;

    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: 'Noto Sans';
    font-style: normal;
}

.s {
    font-size: 14px;
    font-weight: 400;
}

.m {
    font-size: 16px;
    font-weight: 400;
}

.l {
    font-size: 18px;
    font-weight: 400;
}
