.wrapper {
	display: grid;
	grid-template: ". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;

	min-height: 100vh;
	gap: 40px 30px;
}

.header {
	grid-area: header;

	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.footer {
	grid-area: footer;
}

.body {
	grid-area: body;
}

@media (width <= 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
	}

	.sidebar {
		display: none !important;
	}

	.header {
		display: block;
	}

	.body {
		padding: 15px;
	}
}